/*DIV PRINCIPAL*/
.informacoes_filme {

    background-color: rgba(63, 63, 63, 0.336);
    display: flex;
    height: 250px;
}

/*DIV DA ESQUERDA*/
.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 50%;
}

.filme {
    border-radius: 10px;
    height: 200px;

}

/*DIV DA DIREITA*/

.informacao_do_filme {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    width: 50%;
}

/*DIV DA DIREITA FILHA */

.extras {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    color: white;
    font-size: 13px;
}

.extras > p > strong {
    color: #FFDF00;
}

/* PARTE DO FILME FINALIZADA */

/* Início da  SINOPSE*/

.espacamento {
    height: 5vh;
}
section {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    padding: 15px;
    width: 100vw;
}

section > p {
    margin: auto;
    width: 85vw;

}

.voltar {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.voltar > a > button {
    font-family: "Love Ya Like A Sister", cursive;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    border: none;
    background-color: #FFDF00;
}